.w-800 {
    max-width: 800px;
  }
  
  .company-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .invoice-title {
    color: hsla(273, 66%, 45%, 0.92);
    font-size: 25px;
    font-weight: bold;
  }
  
  .billing-title {
    color: hsla(273, 66%, 45%, 0.92);
    font-size: 16px;
    font-weight: bold;
  }
  
  .orange-border {
    border-color: hsla(273, 66%, 45%, 0.92) !important;
  }
  
  .billing-box {
    background-color: #fff7ed;
  }
  
  .table-header {
    background-color: hsla(273, 66%, 45%, 0.92) !important;
    color: white !important;
  }
  
  .totals-box {
    font-size: 16px;
    font-weight: bold;
    background-color: #fff7ed;
  }
  
  .total-highlight,
  .template1 .company-title,
  .template1 .company-title i {
    color: hsla(273, 66%, 45%, 0.92);
  }
  